.SearchForm {
  display: flex;
  flex-direction: column;
}

.SearchForm > .ButtonBar {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.SearchForm .error {
  background-color: pink;
  border: solid 1px red;
  color: maroon;
  margin: 1rem;
  padding: 1rem;
}
